- @players.each_slice(3) do |a, b, c|
  .row.players
    .col-xs-4
      - if a
        = link_to image_tag(a.image.url), player_draw_path(a)
    .col-xs-4
      - if b
        = link_to image_tag(b.image.url), player_draw_path(b)
    .col-xs-4
      - if c
        = link_to image_tag(c.image.url), player_draw_path(c)
