// Place all the styles related to the Doodles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doodle {

  margin-bottom: 30px;

  height: 400px;

  .info, .image, .text {
    display: inline-block;
  }

  .text {
    max-height: 400px;
    max-widtH: 600px;
  }

  .info {
    vertical-align: middle;
  }

  .upvote, .downvote, .score, .text {
    font-size: 50px;
    text-align: center;
  }

  .score {
    text-align: center;
  }

  .text {
    padding-left: 20px;
  }

  .image {
    padding-left: 30px
  }

}
.social {
  display: inline;
}
#sketch-tools {
  margin: 10px 0 10px;
}

#sketch-tools a {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
}

.about {
  font-size: 20px
}

.pagination {
  font-size: 30px
}

img {
  max-width: 350px;
}
